@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wtk64a');
  src:  url('fonts/icomoon.eot?wtk64a#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wtk64a') format('truetype'),
    url('fonts/icomoon.woff?wtk64a') format('woff'),
    url('fonts/icomoon.svg?wtk64a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-truck:before {
  content: "\e9b0";
}
